html, body {
	width: 100%;
	height: 100%;
}
#app {
	width: 100%;
	height: 100%;
}
body {
	background-color: #d6d6d6;
	overflow: hidden;
}

.luar {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 30px;
}
.dalam {
	border: 1px solid rgba(255, 255, 255, 0.6);
	height: 100%;
}

.debug {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 10;
	background-color: #fff;
	padding: 15px;
}

.index {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: #535353;
	text-align: center;
	background-color: #d0d0d0;
}

.index h1 {
	font-family: gotham;
	font-weight: bold;
	font-size: 48px;
	width: 100%;
}

.index a {
	font-family: DistrictThin;
	margin: 0 15px;
	color: #535353;
	font-size: 18px;
}

.mainmenu {
	width: 50%;
}

.about {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 70px 40px;
}

.about h2 {
	margin: 0;
	padding: 0;
	transform: rotate(-90deg);
	align-self: flex-start;
	margin-top: 52px;
	font-size: 48px;
}

.about .content {
	flex-grow: 1;
	padding-left: 40px;
	border-left: 1px solid #bbb;
	text-align: justify;
	line-height: 160%;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	font-weight: 400;
}

.section {
	width: 100%;
	height: 100%;
}